.login-form{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .login-information{
        width: 35%;
        .username-information{
            display: flex;
            flex-direction: column;
        }
        .pwd-information{
            display: flex;
            flex-direction: column;
        }
        .action-form{
            div{
                display: flex;
                justify-content: space-between;
                a, button{
                    width: 50%;
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px){
    .login-information{
        width: 100%!important;
    }
}