################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs
/.vs
/.vs/BackEnd/FileContentIndex
/BE.Presentation.API/Properties/PublishProfiles/FolderProfile.pubxml.user
